python-dotenv
langchain
langchain-community
langchain-core
langchain-text-splitters
faiss-cpu
streamlit
pypdf
langchain-nvidia-ai-endpoints
tiktoken
youtube-transcript-api


docx2txt
unstructured
unstructured[all-docs]
python-pptx